In [1]:
import math

In [2]:
m = math.log(0.75, 2)

In [3]:
m

-0.4150374992788438

In [4]:
m**(-0.415)

(0.38009205502349125-1.3893825512604954j)

In [5]:
2**(-0.415)

0.7500194946429091

### Entropy for 4 red and 10 blue balls example

In [15]:
m=4
n=10

a = m/(m+n)
b = n/(m+n)

entropy = -a*math.log(a,2) - b*math.log(b,2)

In [16]:
entropy

0.863120568566631

### Entropy for 8 red, 3 blue, 2 yellow balls

In [21]:
r=8
b=3
y=2

pr = r/(r+b+y)
pb = b/(r+b+y)
py = y/(r+b+y)

entropy1 = -pr*math.log(pr,2)-pb*math.log(pb,2)-py*math.log(py,2)

In [23]:
entropy1

1.3346791410515946

### Mobugs vs Lobugs

In [24]:
import pandas as pd

In [26]:
data = pd.read_csv("insects.csv")

In [33]:
data

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
1    Mobug   Blue         16.3
2    Lobug   Blue         15.1
3    Lobug  Green         23.7
4    Lobug   Blue         18.4
5    Lobug  Brown         17.1
6    Mobug  Brown         15.7
7    Lobug  Green         18.6
8    Lobug   Blue         22.9
9    Lobug   Blue         21.0
10   Lobug   Blue         20.5
11   Mobug  Green         21.2
12   Mobug  Brown         13.8
13   Lobug   Blue         14.5
14   Lobug  Green         24.8
15   Mobug  Brown         18.2
16   Lobug  Green         17.9
17   Lobug  Green         22.7
18   Mobug  Green         19.9
19   Mobug   Blue         14.6
20   Mobug   Blue         19.2
21   Lobug  Brown         14.1
22   Lobug  Green         18.8
23   Mobug   Blue         13.1

In [29]:
a

0     Mobug
1     Mobug
2     Lobug
3     Lobug
4     Lobug
5     Lobug
6     Mobug
7     Lobug
8     Lobug
9     Lobug
10    Lobug
11    Mobug
12    Mobug
13    Lobug
14    Lobug
15    Mobug
16    Lobug
17    Lobug
18    Mobug
19    Mobug
20    Mobug
21    Lobug
22    Lobug
23    Mobug
Name: Species, dtype: object

In [35]:
import numpy as np

In [37]:
def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) +           
             (tot-first)/tot*np.log2((tot-first)/tot))

tot_ent = two_group_ent(10, 24)                       
g17_ent = 15/24 * two_group_ent(11,15) + 9/24 * two_group_ent(6,9)                  

answer = tot_ent - g17_ent